.page-header
  %h1 <%= plural_table_name.capitalize %>
= render 'form'
%br
= link_to 'Ver', @<%= singular_table_name %>, class: 'btn btn-info'
= link_to 'Regresar', 'javascript:history.back(-1)', class: 'btn btn-warning'


