.page-header
  %h1 <%= plural_table_name.capitalize %>
<% for attribute in attributes -%>
  %p
    %b <%= attribute.human_name %>:
    = @<%= singular_table_name %>.<%= attribute.name %>
<% end -%>
%br
= link_to 'Editar', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: 'btn btn-success'
= link_to 'Regresar', <%= index_helper %>_path, class: 'btn btn-warning'

